.card{
    background-color: #31363F;
    border-radius: 12px;
    overflow: hidden; 
    transition: all 0.4s;
}

.card:hover{
    background-color: #00CCFF;
    transform: translateY(-4%);
}

.card-img{
    overflow-clip-margin: content-box;
    overflow: clip;
}

.card-title{
    color: white;
}

.card-text{
    color: #000026;
}

.cards-btns{
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
}

.card-btn{
    font-size: 2.5rem;
    color: #000026;
    transition: all 0.3s;
}

.card-btn:hover{
    color: white;
}

.learnMoreBtn{
    font-size: 1.5rem;
    color: #000026;
    transition: all 0.3s;
}

.learnMoreBtn:hover{
    color: white;
}