/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/

body{
    font-family: "Poppins", sans-serif;
    background-color: #000026;
    color: white;
}

.navbar{
    height: 130px;
    justify-content: space-between;
}

.center-links{
    font-family: "Poppins", sans-serif;
    display: flex;
    
}

.center-link{
    text-decoration: none;
    margin-right: 20px;
    color: #000026;
    transition: all 0.3s;
}

.center-link:hover{
    color: #00CCFF;
}

.brand-link{
    text-decoration: none;
    margin-top: 25px;
}

.brand{
    color: #000026;
    font-size: 45px;
    font-weight: 600;
}

.login-btn{
    color: #000026;
    padding: 8px 14px;
    border: none;
    margin-right: 14px;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.3s;
}

.login-btn:hover{
    color: #00CCFF;
}

.signup-btn{
    background-color: #000026;
    color: white;
    padding: 8px 14px;
    border: none;
    border-radius: 4px;
    transition: all 0.3s;
}

.signup-btn:hover{
    background-color: #00CCFF;
}


.signup-link{
    margin-right: 14px;
}

.main-content{
    padding: 0;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left{
    width: 700px;
    background-color: #000026;
    padding: 0 80px;
}

.logo-img{
    width: 650px;
}

.left h1{
    font-size: 80px;
}

.left h1 span{
    color: #2882E3;
}

.left p{
    margin: 40px 0;
}

.left-btn{
    background-color: #2882E3;
    color: white;
    width: 200px;
    padding: 8px;
    border-radius: 60px;
    border: none;
    transition: all 0.3s;
}

.left-btn:hover{
    background-color: #00CCFF
}

.example-left{
    width: 700px;
}

.example-img{
    width: 100%;
}

.example-text{
    width: 700px;
    padding-right: 0px;
}

.games-2024{
    margin-top: 50px;
}

.best2024GamesTittle{
    font-size: 60px;
    font-weight: 800;
}

/* I need to fix this styles "FEATURES"*/

.features {
    background-color: #00CCFF;
    text-align: center;
    padding: 50px;
  }
  
  .features-title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .features-description {
    font-size: 1.2rem;
    margin-bottom: 40px;
  }
  
  .cards {
    display: flex;
    justify-content: space-around;
  }
  
  .feature-card {
    background-color: #f8f9fa;
    border: 1px solid #000026;
    border-radius: 5px;
    padding: 20px;
    margin: 0 10px;
    width: 250px;
  }
  
  .feat-name {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .feat-icon {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
  }
  
  .feat-description {
    font-size: 1.1rem;
  }