body{
    font-family: 'Poppins', sans-serif;   
    text-align: center;
}

.main{
    margin: 50px;
    color: #eaeaea;
}

.profile-img{
    width: 60px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

h1{
    color: #fff;
    margin-bottom: 50px;
    font-size: 2em;
}

.controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

button{
    background-color: #444;
    color: #eaeaea;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover{
    background-color: #00CCFF;
}