li{
    list-style: none;
}

.naV-link{
    text-decoration: none;
    color: #000026;
    font-size: 1rem;
}

.header{
    position: relative;
    padding: 0 2rem;
}

.navBar{
    width: 100%;
    height: 160px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
    margin-bottom: 0;
}

.logo{
    padding-left: 20px;
}

.link-logo{
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #000026;
}

.link-logo:hover{
    color: #000026;
}

.navBar .links{
    display: flex;
    gap: 2rem;
}

.toggle_btn{
    color: black;
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    padding: 8px 14px;
    border: none;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

.login-btn{
    color: #000026;
    background-color: transparent;
    margin-right: 80px;
    border: 1px solid #000026;
}

.login-btn:hover{
    background-color:#000026;
    color: #00CCFF;
}

.signup-btn{
    background-color:#000026;
    color: white;
    margin-left: 80px;
}

.signup-btn:hover{
    background-color: #00CCFF;
}

/*DROPDOWN MENU*/

.Dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.2s;
}

.Dropdown_menu.open{
    height: 350px;
}

.Dropdown_menu ul{
    padding: 0;
}

.Dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Dropdown_menu .naV-btn,
.Dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.Dropdown_menu .login-btn{
    color: #00CCFF;
}

.Dropdown_menu .login-btn:hover{
    background-color: #00CCFF;
    color: white;
    border: none;
}

@media(max-width: 1185px){
    .login-btn{
        margin-right: 0;
    }

    .signup-btn{
        margin-left: 0;
    }
}

@media(max-width: 1111px){
    .navBar .naV-link,
    .navBar .action_btn{
        display: none;
    }

    .navBar .toggle_btn{
        display: block;
        margin-right: 20px;
    }

    .Dropdown_menu{
        display: block;
        margin-right: 20px;
    }
}